
<%- include('./partials/head.ejs') %>

<body id="body">
	<%- include('./partials/nav.ejs') %>

	<div class="container">
	<h1> Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %> </h1>
	<!-- Display app listings -->
	<% if (google == null) { %>
		<h2 id='noListings'> No listings to show </h2>
	</div>

	<% } else { %>
		<div class="row">
			<div class="col">
					<h3> Google </h3>
					<table>
						<thead>
							<tr>
								<th> Title </th>
								<!-- <th> Company </th> -->
								<!-- <th> Description </th> -->
								<!-- <th> Location </th> -->
								<!-- <th> Date </th> -->
							</tr>	
						</thead>
						<tbody>
							<% Object.keys(google).forEach(key => { %>
								<tr>
									<td> <a class='job-link' href=<%-google[key]%> > <%- key %> </a> </td>
									<!-- company -->
									<!-- description -->
									<!-- location -->
									<!-- date posted -->
								</tr>
							<% }); %>
						</tbody>	
					</table>
			</div>
		</div>
		<% } %>
	</div>
	
<%- include('./partials/footer.ejs') %>
